body{
    margin-bottom: 30px;
}

ol.ballot, ol.result {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
}
ol.ballot > li, ol.result > li{
    position: relative;
    margin-bottom: 0;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}
ol.ballot > li:before,  ol.result > li:before {
    position: absolute;
    top: 0;
    left: -1.8em;
    width: 1.5em;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
}
.pop {
    display: none;
    position: fixed;
    top: 75px;
    right: 25px;
    width: 275px;
    height: 200px;
    background: #ffffff;
    outline: 10px solid rgba(0, 0, 0, 0.2);
}
.pop-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pop > span {
    cursor: pointer;
    position: absolute;
    top: -16px;
    right: -16px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #444;
    color: #ffffff;
    padding: 6px 0px 0px 9px;
    width: 30px;
    height: 30px;
}
.pop > textarea {
    width: 270px;
    height: 100px;
}
.results, .ballot-view{
    font-size: 1.2em;
}
.dropdown-logo {
    height: 23px;
    width: 23px;
}
.summary {
    width: auto;
}
.summary .logo {
    height: 23px;
    width: 23px;
}
