body{
    margin-bottom: 30px;
}

ol.ballot, ol.result {
    list-style-type: none;    
    list-style-type: decimal !ie; /*IE 7- hack*/
    margin: 0;
    margin-left: 3em;
    padding: 0;
    counter-reset: li-counter;
}
ol.ballot > li, ol.result > li{
    position: relative;
    margin-bottom: 0;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}
ol.ballot > li:before,  ol.result > li:before {
    position: absolute;
    top: 0;
    left: -1.8em;
    width: 1.5em;
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
}
.results, .ballot-view{
    font-size: 1.2em;
}
.dropdown-logo {
    height: 23px;
    width: 23px;
}
.ballot-list-item, .others-receiving-item{
    white-space: nowrap;
}
.application .panel-body {
    overflow: hidden;
}
.ballot-view .team-name, .results .team-name{
    white-space: nowrap;
}
.flag-button {
    cursor: pointer;
}
.sortable-placeholder::before {
  /* Hide the number on the awkward placeholder element. */
  content: "" !important;
}
