{% extends "base.html" %}

{% block content %}
<h1>Apply to be a Voter</h1>
<div class="col-md-7">
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}
  {{ wtf.form_field(form.primary_team_id) }}
  {{ wtf.form_field(form.other_teams) }}
  {{ wtf.form_field(form.consumption_tags) }}
  {{ wtf.form_field(form.approach) }}
  {{ wtf.form_field(form.other_comments) }}
<div class="form-group {%if form.will_participate.errors %} has-error{% endif %}">
      <label class="checkbox" for="will_participate">
        <input id="will_participate" name="will_participate" type="checkbox" value="y" {% if form.will_participate.data %}checked{% endif %}> {{form.will_participate.label.text}}
      </label>
  {%if form.will_participate.errors %}
		{% for error in form.will_participate.errors %}
        <p class="help-block">{{error}}</p>
    {%- endfor %}
  {%endif%}
</div>
	{{ wtf.form_field(form.submit) }}
</form>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
<script>
$("#primary_team_id").select2({
    placeholder: "Select Teams"
});
$("#other_teams").select2({
    placeholder: "Select Teams"
});
         $(function(){

        function format(item) {
            if(item.id=='__None') {
                return item.text;
              }
            var logo_name = $(item.element).data('logo')
            return '<span class="logo23"><img class="logo23-'+logo_name+'" src="{{url_for('static', filename='img/logos_23.png')}}"></span> '+item.text;
        }

        function formatSelection(item) {
          // return selection template
          return '<b>' + item.text + '</b>';
        }

        function sort(results, container, query) {
            if(query.term) {
                return results.sort(function(a, b) {
                    return a.text.toLowerCase().indexOf(query.term.toLowerCase()) - b.text.toLowerCase().indexOf(query.term.toLowerCase());
                })
            }
            return results;
        }

        $('select').select2({
          // Specify format function for dropdown item
          //formatResult: format,
          // Specify format function for selected item
          //formatSelection: format,
          // Specify sort function
          sortResults: sort
        });
      });
</script>
{% endblock %}