{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-9">
<h2><a href="{{url_for('user', nickname=ballot.voter.nickname)}}">{{ballot.voter.name_with_flair(40)|safe}}</a>'s Ballot for <a href="{{url_for('polls', s=ballot.fullpoll.season, w=ballot.fullpoll.week)}}">{% if ballot.fullpoll.week == 0 %}Preseason{% else %}Week {{ballot.fullpoll.week}}{% endif %} of {{ballot.fullpoll.season-1}}-{{ballot.fullpoll.season-2000}}</a></h2>
<div class="row">
<div class="h6 col-xs-12">Submitted on {{timestamp(updated_eastern)}}</div>
</div>
</div>
{% if ballot.fullpoll.has_completed %}
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><button data-toggle="modal" data-target=".reddit-table-modal" class="reddit-table btn btn-info pull-right">Get Reddit Formatted Table</button></div>
{% endif %}
</div>

{% if not ballot.fullpoll.has_completed %}<div class="alert alert-info" role="alert">This Poll is still active. {%if ballot.voter == g.user %} <a href="{{url_for('submitballot')}}" class='alert-link'>Edit your ballot</a>{% endif %}</div>{% endif %}
{% if ballot.is_provisional %}<div class="alert alert-info" role="alert"><strong>FYI:</strong> This is a provisional ballot. It does not count towards this poll's results.</div>{% endif %}
<div class="col-md-12">
<div class="table-responsive">
<table class="ballot-view table table-striped">
	<tr>
		<th>Rank</th><th>Team</th><th>Reason</th>
	</tr>
	{% for vote in votes %}{% set team = teams.get(vote.team) %}
	<tr>
		<td>
			{{vote.rank}}
		</td>
		<td>
			<span class="team-name">{{team.logo_html()|safe}} {% if team.short_name-%}{{team.short_name}}{%-else-%}{{team.full_name}}{%-endif-%}</span>
		</td>
		<td>
			{{ vote.reason }}
		</td>
	</tr>
	{% endfor %}
</table>
</div>
</div>
<div class="modal fade reddit-table-modal" tabindex="-1" role="dialog" aria-labelledby="redditTableModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class='modal-title'>Reddit Formatted Table</h4>
</div>
<div class="modal-body">
<textarea readonly name="reddit-table" id="reddit-table" class="form-control" rows='6'>
Rank||Team|Reason
:--:|:--:|:---|:---
{% set prev_score = -1 -%}
{%- for vote in votes -%}
{%- set team = teams.get(vote.team) -%}
#{{vote.rank}}|{%- if team.flair -%}[](/{{team.flair}}){%-endif-%}|{%-if team.short_name-%}{{team.short_name}}{%-else-%}{{team.full_name}}{%-endif-%}|{{vote.reason}}
{% endfor -%}
 </textarea>
</div>
<div class="modal-footer">
  <button id="copy-button" data-clipboard-target="reddit-table" class="btn btn-primary">Click To Copy</button>
</div>
</div>
</div>
</div>

{% endblock %}
{% block scripts %} 
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
<script>
var clientTarget = new ZeroClipboard( $("#copy-button"), {
    moviePath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.swf",
    debug: false
} );

clientTarget.on( "load", function(clientTarget)
{
    clientTarget.on( "complete", function(clientTarget, args) {
        clientTarget.setText( args.text );
    } );
} );
</script>
{% endblock %}
