<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Edit Your Profile</h1>
<div class="col-md-5">
<form class="form form-horizontal" method="post" role="form">
 {{ form.hidden_tag() }}
 {{ wtf.form_errors(form, hiddens="only") }}
 {%- if user.emailConfirmed -%}
<div class="form-group has-success has-feedback">
{%- else -%}
<div class="form-group has-feedback">
{%-endif-%}
<label class="control-label" for="email">Email{%- if user.emailConfirmed %} (Confirmed){%-endif-%}</label>
{{form.email( class_="form-control")}}
</div>
{%- if user.emailConfirmed -%}
<span class="glyphicon glyphicon-ok has-success form-control-feedback"></span>
{%-endif-%}
{{ wtf.form_field(form.emailReminders) }}
{% if user.is_voter %}
<div class="checkbox disabled">
  <label>
    <input type="checkbox" value="" disabled checked>
    All voters get Reddit PM Reminders
  </label>
</div>
{% else %}
{{ wtf.form_field(form.pmReminders) }}
{% endif %}
{{ wtf.form_field(form.submit, button_map={'submit' : 'primary pull-right'})}}
</form>
</div>
{% endblock %}