{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
{% if not g.user.is_authenticated() %}
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This is the site for the <a href='//reddit.com/r/CollegeBasketball'>/r/CollegeBasketball</a> User Poll. Pollsters are not being added at this time, but feel free to login or create an account with the big button below.</p>
  <p><a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login Using Reddit</a></p>
</div>
{% elif not poll %}
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>This is the site for the <a href='//reddit.com/r/CollegeBasketball'>/r/CollegeBasketball</a> User Poll. There are no completed polls yet, but we can't wait for the season to start!
</div>

{% endif %}
{% if poll %}
<h2> Latest Poll Results </h2>
<div class="row">
<div class="h6 col-xs-8 col-md-5">Closed on {{closes_eastern.strftime('%A, %B %-d, %Y at %-I:%M%p %Z')}}</div><div class="h6 col-xs-4 col-md-3 text-right"><a href="{{url_for("polls", s=poll.season|int, w= poll.week|int)}}">Permalink to these Results</a></div>
</div>
{% include 'resulttable.html' %}
{% endif %}
{% endblock %}
