{% extends "base.html" %}
{% set active_page = "poll" %}
{% block content %}
<div class="row">
  <div class="col-md-8">
<h1>Results for Week {{week}} of {{season-1}}-{{season-2000}}</h1>
</div>
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><button data-toggle="modal" data-target=".reddit-table-modal" class="reddit-table btn btn-info pull-right">Get Reddit Formatted Table</button></div>
</div>
{% include 'resulttable.html' %}
{% include 'reddit_results_popup.html' %}
{% endblock %}
{% block scripts %} 
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
<script>
var clientTarget = new ZeroClipboard( $("#copy-button"), {
    moviePath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.swf",
    debug: false
} );

clientTarget.on( "load", function(clientTarget)
{
    clientTarget.on( "complete", function(clientTarget, args) {
        clientTarget.setText( args.text );
    } );
} );
</script>
{% endblock %}
