{% extends "base.html" %}
{% set active_page = "poll" %}

{% block content %}
<h1>Season summary for {{season-1}}-{{season-2000}}</h1>
<hr>
<table class="table table-condensed summary">
  <tr>
{%- for poll in polls -%}
  <th> {{poll.week }}</th>
{%- endfor -%}

{%- for i in range(25) -%}
  <tr>
  {%- for poll in polls -%}
    {% set team = teams.get(results[poll.week][i][0]) %}
    <td> <img src="{{team.png_url()}}" alt="{{team.full_name}} Logo"> {{ team.short_name }} </td>
  {%- endfor -%}
  </tr>
{%- endfor -%}
</table>



{% endblock %}
{% block scripts %}
{{super()}}
<script>
$('table').on('mouseover', 'td', function() {
    // Store the hovered cell's text in a variable
    var textToMatch = $(this).text();
    $(this).addClass('matching');
    // Loop through every `td`
    $('td').each(function() {
        var text = $(this).text();
        if (textToMatch === text)
            $(this).addClass('matching');
    });
});

// Mouse out event handler to undo matching
$('table').on('mouseout', 'td', function() {
    $('.matching').removeClass('matching');
});
</script>
{% endblock %}
