{% extends "base.html" %}
{% set active_page = "poll" %}

{% block content %}
<h1>Season summary for {{season-1}}-{{season-2000}}</h1>
<hr>
<table class="summary table table-condensed table-bordered table-responsive" id="summary">
  <tr>
    <th></th> 
{%- for poll in polls -%}
<th> {{poll.week }}</th>
{%- endfor -%}

{%- for i in range(25) -%}
  <tr>
    <td class="rank">{{i+1}}</td>
  {%- for poll in polls -%}
    {% set team = teams.get(results[poll.week][i][0]) %}
    <td data-png="{{team.png_name}}" class="team" title="{{team.full_name}}"><img src="{{team.png_url()}}" alt="{{team.full_name}} Logo" class="logo"></td>
  {%- endfor -%}
  </tr>
{%- endfor -%}
</table>



{% endblock %}
{% block scripts %}
{{super()}}
<script>
$('#summary').on('mouseover', '.team', function() {
    // Store the hovered cell's data in a variable
    var dataToMatch = $(this).data("png");
    $(this).addClass('matching');
    // Loop through every `td`
    $('#summary .team').each(function() {
        var data = $(this).data("png");
        if (dataToMatch === data)
            $(this).addClass('active');
    });
});

// Mouse out event handler to undo matching
$('#summary').on('mouseout', '.team', function() {
    $('.active').removeClass('active');
});
</script>
{% endblock %}
