{% extends "base.html" %}
{% set active_page = "submitballot" %}
{% block content %}
<h1>Ballot</h1>
{% for error in form.errors[votes] %}
    <div class="alert alert-warning">
        {{field}}{{error}}
    </div>
{% endfor %}

<form action="" method="post" name="ballot">
{{form.hidden_tag()}}
	<ol class="list-group ballot">
{% for vote in form.votes %}
    <li class="list-group-item{% if vote.team.errors %} list-group-item-warning{% endif %}">
    	{% if vote.team.errors %}
    		{% for error in vote.team.errors %}
    			{{ error }}
    		{% endfor %}
    	{% endif %}
    {{vote.team(class_="team") }}
    {{vote.reason()}}
		</li>

{% endfor %}  
</ol>
<input type="submit" value="Save Changes">
</form>
{% endblock %}

{% block scripts %} 
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
<script>
        $(document).ready(function() { $("select.team").select2({width: "40%"}); });
</script>

 {% endblock %}