{% extends "base.html" %}
{% set active_page = "submitballot" %}
{% block content %}
<h1>Ballot</h1>
{% for error in form.errors[votes] %}
    <div class="alert alert-warning">
        {{field}}{{error}}
    </div>
{% endfor %}

<form action="" method="post" name="ballot" role="form">
{{form.hidden_tag()}}
	<ol class="list-group ballot">
{% for vote in form.votes %}
    <li class="list-group-item{% if vote.team.errors %} list-group-item-danger{% endif %}">
    	{% if vote.team.errors %}
    		{% for error in vote.team.errors %}
    		<div class="row">{{ error }}</div>
    		{% endfor %}
    	{% endif %}
    	<div class="row">
    		<div class="col-md-6">
    {{vote.team.label(class_="sr-only") }}
    {{vote.team(class_="team form-control") }}
        </div>
        <div class="col-md-6">
    {{vote.reason.label(class_="sr-only") }}
    {{vote.reason(class_="form-control", placeholder="Explanation (optional)")}}
  			</div>
  		</div>
		</li>

{% endfor %}  
</ol>
<input type="submit" value="Save Changes">
</form>
{% endblock %}

{% block scripts %} 
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
<script>
        $(document).ready(function() { $("select.team").select2(); });
</script>

 {% endblock %}