{% extends "base.html" %}
{% set active_page = "submitballot" %}
{% block content %}
<div class="page-header">
<h1>{%if editing %}Edit{% else %}Submit a{% endif %} Ballot for {{poll.season-1}}-{{poll.season-2000}}
    {% if poll.week == 0 %} Preseason {% else %} Week {{poll.week}} {% endif %}
</h1>
</div>
<h6>Poll Closes on {{timestamp(closes_eastern)}}</h6>
{% if is_provisional %}<div class="alert alert-info" role="alert"><strong>FYI:</strong> You are not an approved voter. You may submit a provisional ballot, but it will not count towards this poll's results.</div>{% endif %}
{% if form.votes.errors %}
{% for error in form.votes.errors %}
{% if error and error is string %}
<div class="alert alert-danger" role="alert">
<strong>Error: </strong>{{ error }}
</div>
{% endif %}
{% endfor %}
{% endif %}
<form method="post" name="ballot" role="form">
{{form.hidden_tag()}}
    <ol class="list-group ballot">
{% for vote in form.votes %}
    <li class="list-group-item{% if vote.team.errors or vote.reason.errors %} list-group-item-danger{% endif %}">
        {% if vote.team.errors or vote.reason.errors %}
            <div class="container">
            {% for error in vote.team.errors %}
            <div class="row">{{ error }}</div>
            {% endfor %}
            {% for error in vote.reason.errors %}
            <div class="row">{{ error }}</div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
    {{vote.hidden_tag()}}
    {{vote.team.label(class_="sr-only") }}
    <select class="team form-control" id="{{vote.team.id}}" name="{{vote.team.id}}">
    {% for subvote in vote.team -%}
    {% if subvote.data != '__None' -%}
    {% set item = subvote(**{'data-logo': subvote.label.text.png_name}) -%}
    {% else -%}
    {% set item = subvote -%}
    {% endif -%}
    {{item}}
    {% endfor -%}
    </select>
            </div>
            <div class="col-md-6">
    {{vote.reason.label(class_="sr-only") }}
    {{vote.reason(class_="form-control", maxlength=140, placeholder="Explanation (optional)")}}
            </div>
        </div>
    </li>

{% endfor %}
</ol>
<div class="row">
<div class="col-md-12">{{form.submit(class_="btn btn-primary btn-lg pull-right")}}</div>
</div>
</form>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
<script>
        $(document).ready(function() { $("select.team").select2(); });
         $(function(){

        function format(item) {
            if(item.id=='__None') {
                return item.text;
              }
            var logo_name = $(item.element).data('logo')
            return '<span class="logo23"><img class="logo23-'+logo_name+'" src="{{url_for('static', filename='img/logos_23.png')}}"></span> '+item.text;
        }

        function formatSelection(item) {
          // return selection template
          return '<b>' + item.text + '</b>';
        }

        function sort(results, container, query) {
            if(query.term) {
                return results.sort(function(a, b) {
                    return a.text.toLowerCase().indexOf(query.term.toLowerCase()) - b.text.toLowerCase().indexOf(query.term.toLowerCase());
                })
            }
            return results;
        }

        $('select').select2({
          // Specify format function for dropdown item
          formatResult: format,
          // Specify format function for selected item
          formatSelection: format,
          // Specify sort function
          sortResults: sort
        });
      });
</script>

 {% endblock %}