{% extends "base.html" %}
{% set active_page = "teams" %}
{% block content %}
<div class="page-header">
<h1>All {{teams|length}} Division I Teams</h1>
</div>
<table class="table">
	<tr>
		<th>School Name</th>
		<th>Logo</th>
		<th>Nickname</th>
		<th>Conference</th>
		<th>Short Name</th>
		<th>Flair Text</th>
	</tr>
{% for team in teams %}
	<tr>
		<td>{{team.full_name}}</td>
		<td>{{team.logo_html(23)|safe}}</td>
		<td>{{team.nickname}}</td>
		<td>{{team.conference}}</td>
		<td>{{team.short_name}}</td>
		<td>{{team.flair}}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}