{% extends "base.html" %}
{% set active_page = "teams" %}
{% block content %}
<h1>All Teams</h1>
<form>
	<ol class="list-group ballot">
{% for i in range(1,26) %}
<li class="list-group-item">
	<select class="team" id="team{{i}}">
		{% for team in teams %}
	<option value={{team.id}} >{{team.full_name}}{% if team.short_name %} ({{team.short_name}}){% endif %}</option>
	{% endfor %}
</select>
</li>
{% endfor %}
</form>

<table class="table">
	<tr>
		<th>School Name</th>
		<th>Nickname</th>
		<th>Conference</th>
	</tr>
{% for team in teams %}
	<tr>
		<td>{{team.full_name}}</td>
		<td>{{team.nickname}}</td>
		<td>{{team.conference}}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}

{% block scripts %} 
{{super()}}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
<script>
        $(document).ready(function() { $(".team").select2({}); });
</script>

 {% endblock %}