{% extends "base.html" %}
{% set active_page = "teams" %}
{% block content %}
<h1>All Teams</h1>

<table class="table">
	<tr>
		<th>School Name</th>
		<th>Logo</th>
		<th>Nickname</th>
		<th>Conference</th>
		<th>Short Name</th>
		<th>Flair Text</th>
	</tr>
{% for team in teams %}
	<tr>
		<td>{{team.full_name}}</td>
		<td><img src="{{team.png_url()}}"></td>
		<td>{{team.nickname}}</td>
		<td>{{team.conference}}</td>
		<td>{{team.short_name}}</td>
		<td>{{team.flair}}</td>

	</tr>
{% endfor %}
</table>
{% endblock %}