{% extends "base.html" %}
{% set active_page = "users" %}
{% block content %}
<div class="page-header">
<h1>All Users by Conference</h1>
</div>
<div id="users">
{% set prev_conf = -1 %}
{%- for user in users|sort(attribute='conference') -%}
    {%- if prev_conf != user.conference -%}
        {%- if loop.index != 1 -%}
</div>
</div>
</div>
        {%- endif -%}
<div class="conference col-md-3">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{{user.conference}}</h3>
</div>
<div class="list-group">
    {%- endif -%}
    {%- set prev_conf = user.conference -%}
<a class="list-group-item" href="{{url_for('user', nickname=user.nickname)}}">{{ user.name_with_flair(23)|safe }}</a>
{%- endfor -%}
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js'></script>
<script>
$('#users').masonry({transitionDuration: 0});
</script>
{% endblock %}