{% extends "base.html" %}
{% block content %}
<div class="page-header">
<span class="h1">{{user.name_with_flair(40)|safe}}{%if user.is_voter%} <span id="voter-icon" class="glyphicon glyphicon-check" data-toggle="tooltip" data-placement="right" title="Approved Voter"></span>{%endif%}</span>{%- if user.id == g.user.id %}<a class="pull-right btn btn-default" href="{{url_for('edit')}}">Edit Profile</a>{% endif %}

<p class='h5'><a href="//reddit.com/user/{{user.nickname}}">User Profile on Reddit</a></p>
</div>
<h4>Submitted Ballots</h4>
{% if ballots.items %}
<div class="list-group">
{% for ballot in ballots.items %}
<a class="list-group-item{% if not ballot.fullpoll.has_completed %} list-group-item-info{% endif %}" href="{{url_for('ballot', ballot_id=ballot.id)}}"><strong>{{ballot}}</strong>{%if ballot.is_provisional %} (Provisional){%endif%}{% if not ballot.fullpoll.has_completed %} (Poll is Active){% endif %}</a>
{% endfor %}
</div>
{% else %}
No ballots submitted
{% endif %}
<ul class="pager">
{% if ballots.has_next %}<li class="previous"><a href="{{ url_for('user', nickname=user.nickname, page=ballots.next_num) }}">&larr; Older</a></li>{% endif %}
{% if ballots.has_prev %}<li class="next"><a href="{{ url_for('user', nickname=user.nickname, page=ballots.prev_num) }}">Newer &rarr;</a></li>{% endif %}
</ul>
{% endblock %}
{% block scripts %}
{{super()}}
<script>
$('#voter-icon').tooltip()
</script>
{% endblock %}