{% extends "base.html" %}
{% set active_page = "voters" %}
{% block content %}
<h1>Current Voters by Conference</h1>
        {% set prev_conf = -1 %}
        <div class="row">
        {%- for row in voters|sort(attribute='conference') -%}
        {%- if prev_conf != row.conference -%}
        	{%- if loop.index != 1 -%}
        	</div>
        	{%- endif -%}
        <div class="col-md-3"><h4>{{row.conference}}</h4>
        {%- endif -%}
        {%- set prev_conf = row.conference -%}
        <p><a href="{{url_for('user', nickname=row.nickname)}}">{{ row.name_with_flair(23)|safe }}</a></p>
      {%- endfor -%}
    </div>
{% endblock %}
{% block scripts %}
{{super()}}
{% endblock %}