{% extends "base.html" %}
{% set active_page = "voters" %}
{% block content %}
<div class="page-header">
<h1>Current Voters by Conference</h1>
</div>
<div id="voters">
{% set prev_conf = {'last': -1} %}
{%- for voter in voters|sort(attribute='conference') -%}
    {%- if prev_conf.last != voter.conference -%}
        {%- if loop.index != 1 -%}
</div>
</div>
</div>
        {%- endif -%}
<div class="conference col-xs-12 col-sm-4 col-md-3">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">{{voter.conference}}</h3>
</div>
<div class="list-group">
    {%- endif -%}
    {% if prev_conf.update({'last': voter.conference}) %} {% endif %}
<a class="list-group-item" href="{{url_for('user', nickname=voter.nickname)}}">{{ voter.name_with_flair(23)|safe }}</a>
{%- endfor -%}
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src='//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js'></script>
<script>
$('#voters').masonry({transitionDuration: 0});
</script>
{% endblock %}